.container{
  max-width: 1000px;
  margin: 10px auto;
}
@media (max-width:1200px) {
  .container{
    margin: auto 60px;
  }
}
@media (max-width:940px) {
  .container{
    margin: auto 40px;

  }
}
@media (max-width:640px) {
  .container{
    margin: auto 20px;
  }
}
body, html{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  font-family: "Helvetica Neue", Arial, sans-serif;
}

p,h1,h2,h3,h4,h5,h6{
  font-family: 'Inter', sans-serif;
  padding: 0px;

}
